@import 'variaveis';

.table {
    text-align: left;
    background-color: $hover-color;
    border-radius: 0.5%;
    width: 100%;
    

    .play {
        color: $text-color;
        font-size: .8rem;

    }

    thead th {
        font-size: .75rem;
        font-weight: 600;
        color: $text-color;
    }

    th, td {
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        

        &:nth-child(1){
            padding-left: 10px;
        }
    }

    tr {
        
        td {
            color: $text-color;
            
        }
            
        }
    
        td {
            padding: 10px 10px 0px 0px;
            margin-top: 10px;
            font-weight: 500;
            font-size: .85rem;
            color: $text-color;

            &:nth-child(1){
                padding-left: 10px;
            }
        }
    }
   

    .direita {
        text-align: right;
    }

