$cor-primaria:#37ab00;
$cor-fundo: #fbfef4;
$cor-fundo2:#fff;

$preto-transparent-30:#0000004D;
$preto-transparent-20:#00000033;
$preto-transparent-03:#00000008;
$preto-transparent-70: rgba(0, 0, 0, 0.7);

$branco:$cor-fundo2;

$primary-color: #1db954;  // Cor do Spotify
$secondary-color: #191414;
$hover-color: #333;
$text-color: #fff;
$icon-color: #b3b3b3;
$font-family: 'Arial', sans-serif;