<div class="navbar">
  <div class="image-container">
      <img src="\assets\images\spotify.png" alt="">
</div>
    <div class="pesquisar">
        <button class="home-button">
          <i class="fa-solid fa-house" style="color: #ffffff;"></i>
        </button>
        <label class="input-div">
          <i class="fa-solid fa-magnifying-glass fa-sm" style="color: #fafafa;"></i>
        <input type="text" placeholder="O que você quer ouvir?"> 
        </label>
    </div>

    <app-rodape-usuario></app-rodape-usuario>
   
</div>


