<div class="navbar">
  <div class="image-container">
      <img src="\assets\images\spotify.png" alt="" (click)="irParaHome()">
</div>
    <div class="pesquisar">
        <button class="home-button" (click)="irParaHome()">
          <i class="fa-solid fa-house" style="color: #ffffff;"></i>
        </button>
        <label class="input-div">
          <i class="fa-solid fa-magnifying-glass fa-sm" style="color: #fafafa;"></i>
        <input type="text" placeholder="O que você quer ouvir?" (input)="buscarPesquisa($event)"> 
        </label>
    </div>

    <app-rodape-usuario></app-rodape-usuario>

  </div>
 <!-- Resultados da pesquisa 
 <div *ngIf="results.length > 0" class="search-results">
  <div class="result-item" *ngFor="let item of results">
    <img *ngIf="item.images?.length" [src]="item.images[0].url" alt="Imagem" class="result-image" />
    <div class="result-details">
      <p class="result-name">{{ item.name }}</p>
      <p class="result-artist" *ngIf="item.artists">{{ item.artists[0].name }}</p>
    </div>
  </div>
</div>
-->



