
<table class="table mt-3 ">
<thead>
    <tr>
        <th>#</th>
        <th>Título</th>
        <th>Artista</th>
        <th class="direita">Tempo</th>
        
    </tr>
</thead>

<tbody class="test">
        <td>
           <div class="play">    
                <span></span>
                <span></span>
                <span></span>
                <span></span>         
           </div> 
        </td>
        <td>musica</td>
        <td>musica</td>
        <td class="direita">musica</td>

</tbody>

</table>

