@import 'table';

:host {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: $hover-color;
    margin: 68px 20px 0px 20px;
    border-radius: 15px;
    height: 100vh;
}

.main {
    width: 100%;
    margin: 10px;
}

.selecionar {
    width: 100%;
    margin: 10px;
    display: flex;


    button {
        background-color: $icon-color;
        margin-left: 15px;
        padding: 10px;
        border-width: 2px 4px;
        border-radius: 40px;
        border: none;
        cursor: pointer;


    }


    span {
        color: $text-color;

    }

    button:hover {
        background-color: #555;
    }
}

.resultado {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;



    &::-webkit-scrollbar {
        display: none;
    }
}


.tipopesquisa {
    display: flex;
    flex-direction: column;
    color: $text-color;
    width: 12%;


    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;

    }

    span {
        color: white;
        text-decoration: none;
        padding-top: 10px;
        word-break: break-word;
        display: inline-block;
        max-width: 100%;
    
    }

    a {
        margin: 10px;
    }
}

.tipopesquisa 


.artist-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: $hover-color;
    border: none;
    padding: 20px;
    width: 100%;


}

.play-button {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #1DB954;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin: 90px 0px 0px 120px;
}

.artist-button:hover {
    transition: all .5s ease;
    background: rgba(51, 51, 51, 0.5);

    .play-button {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #1DB954;
        border: none;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        transition: 0.5s;
        margin: 100px 0px 0px 120px;
    }

    .play-button:hover {
        transform: scale(1.4);
    }

    .play-button::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 16px solid black;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin-left: 4px;
    }

    .play-button:active {
        transform: scale(0.9);
    }



}




.play-button {
    background: none;
    border: none;
}