<div class="selecionar">
    <div *ngFor="let topico of botao" class="selecionado">
        <button>
            <span> {{ topico }} </span>
        </button>
    </div>
</div>

<div class="resultado">
    <div *ngFor="let resultado of resultados" class="tipopesquisa">
      <div class="artist-button" (click)="artistaSelecionado(resultado)">
        <img [src]="resultado.album.imageUrl" alt="">
        <span>{{ obterArtistas(resultado) }}</span> 
        <span>{{ resultado.titulo }}</span>
        <a style="color: #b3b3b3">Artista</a>
        <button class="play-button" (click)="tocarPesquisa(resultado); $event.stopPropagation();">
        </button>
      </div>
    </div>
  </div>
  
 