<div class="selecionar">
    <div *ngFor="let topico of botao" class="selecionado">
        <button>
            <span> {{ topico }} </span>
        </button>
    </div>
</div>

<div class="resultado">
    <div *ngFor="let resultado of resultados" class="tipopesquisa">
        <button class="artist-button">
            <img src="{{ resultado.album.imageUrl }}" alt="">
            <a href="">{{ obterArtistas(resultado)}}</a>
            <a>Artista</a>
            <button class="play-button"></button>
        </button>
    </div>
</div>