<div class="minhas-musicas">
    <app-painel-central class="mt-2 d-block"></app-painel-central>

    <button class="play-button" (click)="playMusica()">
        </button>

    <table class="table mt-3 ">
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Artista</th>
                <th class="direita">Tempo</th>
                
            </tr>
        </thead>

        <tbody class="test">
            <tr *ngFor="let musica of musicas" (click)="executarMusica(musica)">
                <td>
                    <fa-icon class="play" [icon]="playIcone"></fa-icon>
                </td>
                <td>{{ musica.titulo}}</td>
                <td>{{ obterArtistas(musica)}}</td>
                <td class="direita">{{ musica.tempo }}</td>
                
            </tr>
        </tbody>
   
    </table>

</div>

<app-painel-direito 
    class="painel-direito">
</app-painel-direito>

