

    <div class="menus flex">

        <div class="menu-container flex">
            <button class="menu-button">
                <i class="fa fa-list" aria-hidden="true"></i>
                Biblioteca
            </button>


        <div class="playlist-scroll">
            <app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="botaoClick(playlist.id)">
            </app-menu-botao>
            <app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="botaoClick(playlist.id)">
            </app-menu-botao>
            <app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="botaoClick(playlist.id)">
            </app-menu-botao><app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="botaoClick(playlist.id)">
            </app-menu-botao><app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="botaoClick(playlist.id)">
            </app-menu-botao><app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="botaoClick(playlist.id)">
            </app-menu-botao>
        </div>

    </div>


</div>