 <div class="menus flex" [ngClass]="{ 'ocultar': false, 'pequeno': expandirMenu }">

        <div class="menu-container flex">
            <button class="menu-button" (click)="expandirBiblioteca()">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span class="ocultar">Biblioteca</span>
            </button>


        <div class="playlist-scroll">
          
            <app-menu-botao *ngFor="let playlist of playlista" [imagens]="playlist.imagemUrl" 
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="botaoClick(playlist.id)">
            </app-menu-botao>
            <app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="irParaPlaylist(playlist.id)">
            </app-menu-botao><app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="irParaPlaylist(playlist.id)">
            </app-menu-botao><app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="irParaPlaylist(playlist.id)">
            </app-menu-botao><app-menu-botao *ngFor="let playlist of playlists" [imagens]="playlist.imagemUrl"
                [descricao]="playlist.nome" [selecionado]="menuSelecionado === playlist.id"
                (click)="irParaPlaylist(playlist.id)">
            </app-menu-botao>
        </div>

    </div>


</div>
