@import 'variaveis';

:host {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   height: 100vh;
   max-height: 100vh;
   max-width: 300px;
   width: 300px;
   padding-bottom: 20px;

}

.component-video {
   position: relative;
   width: 100%;
   height: 100vh;
}

.video {
   border-radius: 8px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.video-info {
   position: absolute;
   width: 100%;
   height: 30px;
   z-index: 2;
   color: white;
   font-size: 18px;
   font-weight: bold;
   display: block;
   bottom: 190px;
   margin-left: 20px;
}

img {
   width: 80px;
   height: 80px;
   border-radius: 5px;
   margin-top: 5px;
}