@import 'variaveis';

:host {
    background-color: #222;
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    .base {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        img {
            width: 40%;
        }

        button {
          font-size: 1.5rem; /* Tamanho da fonte */
          min-width: 200px; /* Largura mínima */
          padding: 15px 25px; /* Espaçamento interno */
          border-radius: 50px; /* Bordas arredondadas */
          background-color: #1db954; /* Cor verde do Spotify */
          color: white; /* Cor do texto */
          border: none; /* Remove a borda */
          cursor: pointer; /* Aparece a mãozinha ao passar o mouse */
          font-weight: bold; /* Deixa a fonte em negrito */
          transition: all 0.3s ease; /* Efeito suave de transição */
      }
      
      button:hover {
          background-color: #1ed760; /* Cor mais clara ao passar o mouse */
      }
      
      button:focus {
          outline: none; /* Remove o contorno de foco */
          box-shadow: 0 0 10px rgba(29, 185, 84, 0.5); /* Adiciona um brilho suave quando o botão recebe o foco */
      }
      
      button:active {
          background-color: #1aa34a; /* Cor um pouco mais escura quando o botão é pressionado */
          transform: scale(0.98); /* Efeito de redução de tamanho ao pressionar */
      }
      
    }
    

  }